/**
 * custom styling
 */

/**
 * layout styling
 */
 .site-header {
     border: none;
     min-height: 80px;
     padding-top: 15px;
     margin-bottom: 30px;

     // Positioning context for the mobile navigation icon
     position: relative;
 }

 .site-title {float: none;}

/**
 * my styles
 */

.logo {
  display: block;
}

 .logo {
     @include media-query($on-laptop) {
       margin-left: auto;
       margin-right: auto;
    }
 }
