---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">Posted on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date:  "%-d %B %Y" }}</time>
      {% if page.author.link %}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="{{ page.author.link}}" target="_blank">{{ page.author.name }}</a></span></span>
      {% elsif page.author.name %}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author.name }}</span></span>
      {% else %}

      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<ul class="list-the-tags">
{% for tag in page.tags %}
    <li>#{{tag}}</li>
{% endfor %}
</ul>

{% include post-footer.html %}
